body {
  font-family: "Crimson Text", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: none; */
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/* .hidden {
}
 */
.button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 22px;
  max-width: 161px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border: none;
  cursor: pointer;

  color: #ffffff;
  background-color: #000000;
}

.button:hover {
  background-color: #C29974;
}

.button:active {
  background-color: #CFAF91; 
}

.button:disabled {
  color: #e1e1e1;
  background-color: #c1c1c1;
}

.button-transparent {
  display: block;
  margin-right: 23px;
  border: none;
  cursor: pointer;
}

.button-transparent:hover {
  opacity: .5;
}

.button-transparent:active {
  opacity: .2;
}

/* HEADER */

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.header-nav {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  color: #1e0606;
}

.header-list-point {
  margin: 0;
  padding: 0;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  list-style-type: none;
}
.header-search-button {
  background-color: #fff;
}

.header-link {
  display: block;
  margin-right: 20px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;

  color: #333333;
}

.header-link_nomargin {
  margin-right: 0;
}

.header-link:hover{
  opacity: .5;
}

.header-link:active{
  opacity: .2;
}

/* FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 110px;

  background-color: #434343;
}

.footer-title {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #aaaaaa;

  border-bottom: 10px #666666;
}

.footer-link {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer-link:hover{
  opacity: .5;
}

.footer-link:active{
  opacity: .2;
}

.footer-content {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-height: 555px;
}

.footer-nav {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-nav-list {
  padding: 0;
  list-style-type: none;
}

.footer-customer {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-customer-list {
  padding: 0;
  list-style-type: none;
}

.footer-contact {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-contact-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.join > input {
  background-color: #666666;
}

.link_gray {
  color: #a2a2a2;
  opacity: 1;
}

.link_gray:hover{
  text-decoration-line: underline;
  opacity: 1;

  color: #FFFFFF;
}

.link_gray:active{
  text-decoration-line: underline;
  opacity: 1;

  color: #FFFFFF;
}

.link_brown:hover{
  opacity: 1;

  color: #C29974;
}

.link_brown:active{
  opacity: 1;

  color: #C29974;
}

.footer-contact-link {
  display: block;
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;

  background-color: #666666;
}

.footer-contact-link:hover {
opacity: .5;
}

.footer-contact-link:active {
  opacity: .2;
}

.rating-list {
  padding: 0;
  display: flex;
  list-style-type: none;

}

.rating-button {
  display: block;
  border: none;
  cursor: pointer;
  height: 16;
  width: 17;
  margin: 0 ;

  background-color: #434343;
}

.rating-button:hover {
  color: #836E5B;
}

.rating-button:active {
  color: #C29974;
}


.footer-additional {
  position: absolute;
  bottom: 100px;
}

/* .footer-additional {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-additional-title {
  display: none;
}

.footer-additional-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 1060px;
} */


