body {
  /* font-family: 'Lato', sans-serif; */
  font-family: "Crimson Text", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 22px;
  max-width: 161px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  border: none;

  color: #ffffff;
  background-color: #000000;
}

.button_gray {
  color: #e1e1e1;
  background-color: #c1c1c1;
}

.list {
  list-style-type: none;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.header-list {
  display: flex;
}

.header-nav {
  font-weight: normal;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.header-link {
  margin-right: 20px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;

  color: #333333;
}

/* FOOTER */

.footer {
  background-color: #434343;
  height: 555px;
  padding: 100px 110px;
}

.footer-title {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #aaaaaa;
}

.footer-link {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: flex-start;
}

.footer-nav {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-nav-list {
  padding: 0;
}

.footer-customer {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-customer-list {
  padding: 0;
}

.footer-contact {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-contact-list {
  padding: 0;
  display: flex;
}

.join > input {
  background-color: #666666;
}

.link_gray {
  color: #a2a2a2;
}

.footer-contact-link {
  display: block;
  padding: 0;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;

  background-color: #666666;
}

.footer-additional {
  display: flex;
}
