/* POSTER */

.poster-content {
  /* background-image: url(/images/poster-1.png); 
  background-repeat: no-repeat;
  
  padding-top: 17px 0 0 0;*/
  margin-top: 79px;
  margin-bottom: 0;

  background-color: #eee4db;
}

.poster-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;

  color: #1e0606;
}

.poster-swith-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 73px;
  margin: 17px 0 0 28px;

  color: rgba(30, 6, 6, 0.05);
}

.poster-list {
  list-style-type: none;
}

.poster-text {
  font-family: "Crimson Text";
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  color: #1e0606;
}

.poster-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;

  background-color: #c29974;
}
.poster-bottom-text {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
}

/* CATEGORY */

.category {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 90px;
}

.category-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  justify-self: start;
  align-self: start;
  color: #1e0606;
  padding: 0;
}

.category-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px -23px;
}

.category-card {
  padding: 0 5px;
  margin-bottom: 23px;
  box-sizing: border-box;
  width: 25%;
}

.category-card-link {
  /* background: #0e90d2; */
  position: relative;
  min-height: 270px;
  min-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card-name {
  z-index: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  max-width: 192px;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.category-card-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* .category-list { 
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.category-card {
  display: flex;
  margin: 0;
  height: 270px;
  width: 280px;
  justify-content: center;
  align-items: center;
}

.category-card-name {
  display: block;
  max-width: 192px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);

  color: #ffffff;
}

.category-card[href="#1"] {
  background-image: url("/images/apparel-kids.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;

  background-color: #dbe4db;
}

.category-card[href="#2"] {
  background-image: url("/images/holiday-shop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;

  background-color: rgba(186, 142, 107, 0.3);
}

.category-card[href="/pages/catalog/toys/index.html"] {
  background-image: url("/images/toys.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;

  background-color: #f8f2da;
}

.category-card[href="#4"] {
  background-image: url("/images/accessories.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: multiply;

  background-color: rgba(9, 3, 79, 0.17);
} */

.category-bottom {
  display: flex;
  align-items: center;
}
.category-button {
  display: block;
  border: none;
  height: 37px;
  width: 37px;
  margin-right: 6px;

  background-color: rgba(112, 187, 220, 0.2);
}

.category-text {
  display: block;
  max-width: 580px;
  margin-left: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;
}
